body {
    font-size: 14px;
}

img{
    width: 100%;
}

.card{
    border-color: transparent;
    box-shadow:  0 4px 8px rgba(0,0,0,.05);
    background-color: #CDCAB9;
}

.card.fat {
     padding: 10px;
 }

.card .card-title {
    margin-bottom: 30px;
}

.form-control {
    border-width: 2.3px;
}

.btn.btn-block {
    padding: 12px 10px;
}